.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .user-box {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .username {
    font-size: 18px;
    font-weight: bold;
  }
  
  .email {
    font-size: 14px;
    color: #666;
  }
  