.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .signup-form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #A5C9CA;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #E7F6F2;
    color: #395B64;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 2px;
    border: 1px solid #ddd;
  }
  
  button:hover {
    background-color: #395B64;
    color: #E7F6F2;
  }
  