*,
*:before,
*:after {
    box-sizing: border-box;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 0 0 calc(33.3% - 20px);
    /* Adjust the width and margin as needed */
    margin: 10px;
}


.card {
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
    margin: 4%;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #1B1A55;
    color: white;
}

.container {
    /* padding: 0 16px; */
    background-color: #535C91;
    color: white;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;

}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* .aboutus{
    background-color: #1B1A55;
    padding: 1%;
    display: flex;
} */